<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmss.mapper.SysImportMapper" >
  <resultMap id="BaseResultMap" type="com.mmss.pojo.SysImport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="material_id" property="materialId" jdbcType="BIGINT" />
    <result column="repository_id" property="repositoryId" jdbcType="BIGINT" />
    <result column="impoPrice" property="impoprice" jdbcType="REAL" />
    <result column="priceUnit" property="priceunit" jdbcType="VARCHAR" />
    <result column="impoDate" property="impodate" jdbcType="TIMESTAMP" />
    <result column="impoNum" property="imponum" jdbcType="INTEGER" />
    <result column="numUnit" property="numunit" jdbcType="VARCHAR" />
    <result column="impoDesc" property="impodesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, material_id, repository_id, impoPrice, priceUnit, impoDate, impoNum, numUnit, 
    impoDesc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmss.pojo.SysImportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_import
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_import
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_import
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmss.pojo.SysImportExample" >
    delete from sys_import
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmss.pojo.SysImport" >
    insert into sys_import (id, material_id, repository_id, 
      impoPrice, priceUnit, impoDate, 
      impoNum, numUnit, impoDesc
      )
    values (#{id,jdbcType=BIGINT}, #{materialId,jdbcType=BIGINT}, #{repositoryId,jdbcType=BIGINT}, 
      #{impoprice,jdbcType=REAL}, #{priceunit,jdbcType=VARCHAR}, #{impodate,jdbcType=TIMESTAMP}, 
      #{imponum,jdbcType=INTEGER}, #{numunit,jdbcType=VARCHAR}, #{impodesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmss.pojo.SysImport" >
    insert into sys_import
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="repositoryId != null" >
        repository_id,
      </if>
      <if test="impoprice != null" >
        impoPrice,
      </if>
      <if test="priceunit != null" >
        priceUnit,
      </if>
      <if test="impodate != null" >
        impoDate,
      </if>
      <if test="imponum != null" >
        impoNum,
      </if>
      <if test="numunit != null" >
        numUnit,
      </if>
      <if test="impodesc != null" >
        impoDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="repositoryId != null" >
        #{repositoryId,jdbcType=BIGINT},
      </if>
      <if test="impoprice != null" >
        #{impoprice,jdbcType=REAL},
      </if>
      <if test="priceunit != null" >
        #{priceunit,jdbcType=VARCHAR},
      </if>
      <if test="impodate != null" >
        #{impodate,jdbcType=TIMESTAMP},
      </if>
      <if test="imponum != null" >
        #{imponum,jdbcType=INTEGER},
      </if>
      <if test="numunit != null" >
        #{numunit,jdbcType=VARCHAR},
      </if>
      <if test="impodesc != null" >
        #{impodesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmss.pojo.SysImportExample" resultType="java.lang.Integer" >
    select count(*) from sys_import
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_import
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=BIGINT},
      </if>
      <if test="record.repositoryId != null" >
        repository_id = #{record.repositoryId,jdbcType=BIGINT},
      </if>
      <if test="record.impoprice != null" >
        impoPrice = #{record.impoprice,jdbcType=REAL},
      </if>
      <if test="record.priceunit != null" >
        priceUnit = #{record.priceunit,jdbcType=VARCHAR},
      </if>
      <if test="record.impodate != null" >
        impoDate = #{record.impodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imponum != null" >
        impoNum = #{record.imponum,jdbcType=INTEGER},
      </if>
      <if test="record.numunit != null" >
        numUnit = #{record.numunit,jdbcType=VARCHAR},
      </if>
      <if test="record.impodesc != null" >
        impoDesc = #{record.impodesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_import
    set id = #{record.id,jdbcType=BIGINT},
      material_id = #{record.materialId,jdbcType=BIGINT},
      repository_id = #{record.repositoryId,jdbcType=BIGINT},
      impoPrice = #{record.impoprice,jdbcType=REAL},
      priceUnit = #{record.priceunit,jdbcType=VARCHAR},
      impoDate = #{record.impodate,jdbcType=TIMESTAMP},
      impoNum = #{record.imponum,jdbcType=INTEGER},
      numUnit = #{record.numunit,jdbcType=VARCHAR},
      impoDesc = #{record.impodesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmss.pojo.SysImport" >
    update sys_import
    <set >
      <if test="materialId != null" >
        material_id = #{materialId,jdbcType=BIGINT},
      </if>
      <if test="repositoryId != null" >
        repository_id = #{repositoryId,jdbcType=BIGINT},
      </if>
      <if test="impoprice != null" >
        impoPrice = #{impoprice,jdbcType=REAL},
      </if>
      <if test="priceunit != null" >
        priceUnit = #{priceunit,jdbcType=VARCHAR},
      </if>
      <if test="impodate != null" >
        impoDate = #{impodate,jdbcType=TIMESTAMP},
      </if>
      <if test="imponum != null" >
        impoNum = #{imponum,jdbcType=INTEGER},
      </if>
      <if test="numunit != null" >
        numUnit = #{numunit,jdbcType=VARCHAR},
      </if>
      <if test="impodesc != null" >
        impoDesc = #{impodesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmss.pojo.SysImport" >
    update sys_import
    set material_id = #{materialId,jdbcType=BIGINT},
      repository_id = #{repositoryId,jdbcType=BIGINT},
      impoPrice = #{impoprice,jdbcType=REAL},
      priceUnit = #{priceunit,jdbcType=VARCHAR},
      impoDate = #{impodate,jdbcType=TIMESTAMP},
      impoNum = #{imponum,jdbcType=INTEGER},
      numUnit = #{numunit,jdbcType=VARCHAR},
      impoDesc = #{impodesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>